:root {
  color-scheme: light dark;

  --bg-color: light-dark(#f8f8f8, #121418);
  --text-color: light-dark(#2e333d, #e1e4e8);

  --button-text-color: light-dark(#000000, #e1e4e8);
  --button-border-color: light-dark(#d6d9e0, #3a3f4a);
  --button-bg-color: light-dark(#ffffff, #1c1f26);
  --button-hover-border-color: light-dark(#b9bfca, #4b515d);
  --button-hover-bg-color: light-dark(#f0f2f4, #252932);
  --button-active-border-color: light-dark(#9ca4b4, #5c6370);
  --button-active-bg-color: light-dark(#e2e4e9, #2e333d);
  --button-disabled-text-color: light-dark(#2e333d, #8c92a1);

  --button-primary-text-color: light-dark(#000000, #00221c);
  --button-primary-border-color: light-dark(#00d1b2, #00d1b2);
  --button-primary-bg-color: light-dark(#00d1b2, #00d1b2);
  --button-primary-hover-border-color: light-dark(#00b89c, #1aebd1);
  --button-primary-hover-bg-color: light-dark(#00b89c, #1aebd1);
  --button-primary-active-border-color: light-dark(#009e86, #33ffe0);
  --button-primary-active-bg-color: light-dark(#009e86, #33ffe0);

  --button-danger-text-color: light-dark(#000000, #33000b);
  --button-danger-border-color: light-dark(#ff6685, #ff6685);
  --button-danger-bg-color: light-dark(#ff6685, #ff6685);
  --button-danger-hover-border-color: light-dark(#ff4d70, #ff809a);
  --button-danger-hover-bg-color: light-dark(#ff4d70, #ff809a);
  --button-danger-active-border-color: light-dark(#ff335c, #ff99b0);
  --button-danger-active-bg-color: light-dark(#ff335c, #ff99b0);

  --availability-text-color: light-dark(#ffffff, #121418);
  --availability-available-bg-color: light-dark(#3abb81, #42d392);
  --availability-unavailable-bg-color: light-dark(#ff4d70, #ff6685);
  --availability-downloadable-bg-color: light-dark(#f5ab00, #ffc53d);
  --availability-downloading-bg-color: light-dark(#f5ab00, #ffc53d);

  --card-bg-color: light-dark(#ffffff, #1c1f26);
  --box-border-color: light-dark(#dddddd, #3a3f4a);
  --results-border-color: light-dark(#d6d9e0, #3a3f4a);
  --results-odd-row-color: light-dark(#f9fafb, #15181e);
  --results-collapsed-text-color: light-dark(#808080, #9ca4b4);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

button {
  color: var(--button-text-color);
  padding: .75rem 1rem;
  border: 1px solid var(--button-border-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: light-dark(#3333330d, #00000040) 0px 1px 2px 0px, light-dark(#3333330d, #00000040) 0px 2px 4px 0px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
button:hover:not(:disabled) {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
  z-index: 2;
}
button:active:not(:disabled) {
  background-color: var(--button-active-bg-color);
  border-color: var(--button-active-border-color);
  box-shadow: none;
  z-index: 2;
}
button:disabled {
  color: var(--button-disabled-text-color);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.5;
}
button.primary {
  color: var(--button-primary-text-color);
  background-color: var(--button-primary-bg-color);
  border-color: var(--button-primary-border-color);
  padding: .75rem 1.5rem;
}
button.primary:hover:not(:disabled) {
  background-color: var(--button-primary-hover-bg-color);
  border-color: var(--button-primary-hover-border-color);
  z-index: inherit;
}
button.primary:active:not(:disabled) {
  background-color: var(--button-primary-active-bg-color);
  border-color: var(--button-primary-active-border-color);
  z-index: inherit;
}
button.danger {
  color: var(--button-danger-text-color);
  background-color: var(--button-danger-bg-color);
  border-color: var(--button-danger-border-color);
  padding: .75rem 1.5rem;
}
button.danger:hover:not(:disabled) {
  background-color: var(--button-danger-hover-bg-color);
  border-color: var(--button-danger-hover-border-color);
  z-index: inherit;
}
button.danger:active:not(:disabled) {
  background-color: var(--button-danger-active-bg-color);
  border-color: var(--button-danger-active-border-color);
  z-index: inherit;
}

.button-group {
  display: inline-flex;
}
.button-group > button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
.button-group > button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.availability-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.availability {
  text-transform: capitalize;
  color: var(--availability-text-color);
  border-radius: 100px;
  padding: .25rem .75rem;
}
.availability[data-label="available"] {
  background-color: var(--availability-available-bg-color);
}
.availability[data-label="unavailable"] {
  background-color: var(--availability-unavailable-bg-color);
}
.availability[data-label="downloadable"] {
  background-color: var(--availability-downloadable-bg-color);
}
.availability[data-label="downloading"] {
  background-color: var(--availability-downloading-bg-color);
}

.download,
.download-progress {
  display: none;
}
.availability[data-label="downloadable"] ~ .download,
.availability[data-label="downloading"] ~ .download-progress {
  display: inline;
}

.card {
  background-color: var(--card-bg-color);
  border-radius: .75rem;
  margin-bottom: 1.5rem;
  padding: .75rem 1.5rem;
  box-shadow: 0 4px 6px -1px light-dark(#0000001a, #0000004d), 0 2px 4px -2px light-dark(#0000001a, #0000004d);
}
.card > .title {
  position: relative;
  margin-top: 0;
}
.card > .title > .link {
  display: none;
}
.card > .title:hover > .link[href] {
  display: inline-block;
  position: absolute;
  padding-right: .2rem;
  right: calc(100%);
  text-decoration: none;
  font-weight: bolder;
  color: var(--text-color);
}
.card > .title > .link:hover {
  text-decoration: underline;
}

.source-box {
  white-space: pre-wrap;
  border: 1px solid var(--box-border-color);
  border-radius: .5rem;
  padding: .5rem;
  line-height: 1.4;
}

.inputs {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}
.inputs ::slotted(img) {
  max-width: 100px;
  max-height: 100px;
}

.controls {
  display: flex;
  gap: 1rem;
}
.controls > .abort {
  display: none;
}
.controls.has-abort > .abort {
  display: inline;
}

.results {
  width: 100%;
  border-collapse: collapse;
}
.results.empty {
  display: none;
}
.results > tbody > tr {
  border-top: 1px solid var(--results-border-color);
}
.results td {
  padding: 0.25rem;
  vertical-align: baseline;
}
.results > tbody > tr:nth-child(2n) {
  background-color: var(--results-odd-row-color);
}
.results .placeholder {
  font-style: italic;
}
.results .collapse {
  width: 25px;
}
.results .collapse > button {
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.results .collapse > button::before {
  content: '▼';
}
.results .collapse.collapsed > button::before {
  content: '▶';
}
.results .collapse.collapsed + .output > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  color: var(--results-collapsed-text-color);
}
.results .output {
  font-family: monospace;
  white-space: pre-wrap;
}
.results .ttft,
.results .tks {
  width: 100px;
  text-align: center;
}
.nostats .results .ttft,
.nostats .results .tks {
  display: none;
}
